body {
  background-color: rgb(4, 8, 39);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  /* background-image: url(https://img.freepik.com/premium-photo/abstract-background-design-images-wallpaper-ai-generated_643360-147135.jpg);
  background-repeat: no-repeat;
  background-size: 100%; */
  background-image: url(https://wallpapers.com/images/hd/hogwarts-castle-0f0g45ihwlijl35w.jpghttps://c4.wallpaperflare.com/wallpaper/494/399/714/harry-potter-hogwarts-castle-wallpaper-preview.jpg);

  /* flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  justify-content: space-around;
  align-items: center; */
}

.block {
  height: 45px;
  width: 30px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 12px 12px;
  margin: 5px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-bottom-width: 2px;
  text-align: center;
  align-self: center;
}
.block:hover {
  border-color: #27e73a;
  color: #27e73a;
  box-shadow: 2px 2px 8px 1px #27e73a;
}

.blocks {
  display: flex;
  height: 250px;
  width: 400px;
  background-color: #e8e8e8;
  align-items: center;
  padding-left: 100px;
  border-radius: 25px;

  border: 2px solid #27e73a;
}

button {
  appearance: button;
  background-color: #27e73a;

  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #27e73a 2px 2px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 12px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;

  white-space: nowrap;
}

button:focus {
  text-decoration: none;
}

button:hover {
  text-decoration: none;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    padding: 12px 50px;
  }
}
/* 
button {
  background-color: pink;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 20px;
  text-align: center;

  display: inline-block;
  font-size: 12px;
  box-shadow: 0 8px 16px 0 rgba(81, 81, 81, 0.2);
}

button:hover {
  background-color: white;
  color: pink;
} */

#text-input {
  max-width: 150px;
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

#text-input {
  border-color: #27e73a;
  color: #0d5615;
  box-shadow: 2px 2px 8px 1px #27e73a;
  margin-left: 70px;
}

#submit {
  max-width: 150px;
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

#submit {
  border-color: #27e73a;
  color: #27e73a;
  box-shadow: 2px 2px 8px 1px #27e73a;
}
h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
h1 span {
  margin-top: 5px;
  font-size: 15px;
  color: #ffffff;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}
h1 span:after,
.nine h1 span:before {
  content: ' ';
  display: block;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 5px;
  background-color: #f8f8f8;
}
#mainbox {
  display: flex;
  align-items: center;
  align-content: center;
}
.title {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
}

.blocks {
  display: flex;
  height: 250px;
  width: 400px;
  background-color: #e8e8e8;
  align-items: center;
  padding-left: 100px;
  border-radius: 25px;

  border: 2px solid #27e73a;
}

h3 {
  align-self: center;
  color: #ffffff;
}
